name: workflow.yml
on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - run: printf "%s" "${{ secrets.GOOGLE_CREDS }}" | base64 -d > credentials.json
      - run: printf "%s" "${{ secrets.OPPRESS_COOKIES }}" | base64 -d > cookies.json

      - name: Run
        env:
          GOOGLE_CREDS_PATH: credentials.json
          COOKIES_FILE: cookies.json
        run: scrapy crawl corporations